body {
    font-family: "Calibri Light";
}

html {
    scroll-behavior: smooth;
}

a, item-x {
    color: #E55381;
    transition: 0.3s;
}

a:hover, item-x:hover {
    color: #685762;
    transition: 0.3s;
}

#title-header {
    background-image:
            linear-gradient(to right, rgba(25, 11, 40, 100%), rgba(25, 11, 40, 0%)),
            url('images/header-painting.png');
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
}

#title-header a {
    color: white;
    font-size: 50px;
    font-family: "Whisper";
    text-transform: lowercase;
}

#title-nav {
    background-color: #190B28;
}

#title-nav a {
    transition: 0.3s;
    color: white;
    font-size: 20px;
}

#title-nav a:hover {
    transition: 0.3s;
    color: lightgrey;
}

#title-nav .dropdown-item {
    color: black;
}


.tag-line {
    position:relative;
    top:17px;
    left:-218px;
    font-family:'Calibri Light';
    font-size:15px;
    font-style:italic;
}


#home-body-cards {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1300px;
}

.btn:hover {
    background-color: darkgray;
    color: black;
    transition: 0.6s;
}

.btn {
    background-color: #E55381;
    color: white;
    transition: 0.6s;
}

.dropdown-menu {
    background-color: lightgrey;
}

.dropdown-item:hover {
    background-color: #190B28;
    transition: 0.3s;
}

.navbar-toggler {
    color: white;
}

.shopping-button {
    background: none;
    border: none;
    color: white;
    transition: 0.3s;
}

.shopping-button:hover {
    color: lightgrey;
    transition: 0.3s;
}

.about-header {
    background-color: lightgrey;
    font-size: 40px;
    text-transform: uppercase;
    padding: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.container-wider {
    max-width: 2000px;
}


#current-nav-link {
    color: #E55381 !important;
    transition: 0.3s;
}

.checkout-div {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.footer {
    background-color: #190B28;
    color: white;
    text-align: center;
}

.store-item-pic {
    background-size: cover;
}

.store-item-title {
    font-size: 30px;
}

.item-image {
    height:100px;
    background-size: cover;
}
